<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Vue Currency Converter</title>
</head>

<body>
    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1" style="margin: 0 auto;">Currency Exchange Coverter</span>
        </div>
    </nav>

    <div class="col-md-6" style="margin: 1rem auto;">
        <img src="images/main.webp" class="img-fluid img-thumbnail"
            style="margin: 0 auto;display: block;height: 15rem;">
    </div>

    <div id="myapp" class="col-md-6" style="margin: 1rem auto;">
        <p style="text-align: center;color: green">You value is {{currencyvalue}} and base is {{currencybase}}</p>
        <form style="padding: 1rem;">
            <div class="mb-3">
                <label for="currencyvalue" class="form-label"></label>
                <input type="number" class="form-control" name="currencyvalue" id="currencyvalue"
                    v-model="currencyvalue">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="INR" id="INR" value="INR" v-model="currencybase">
                <label class="form-check-label" for="INR">
                    INR
                </label>
                <input class="form-check-input" type="radio" name="INR" id="INR" value="DFDF" v-model="currencybase">
                <label class="form-check-label" for="INR">
                    INR
                </label>
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Get Exchange Rates" style="display: block;margin: 0 auto;">
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
</body>

</html>